h2{
    background-color: rgba(225, 225, 32, 0.822);
    border-radius: 5px;
    color: black;
    text-align: center;
}
.fstrow{
    margin: 30px;
}
label{
    display: inline;
}
.container{
    border-radius: 10px;
    height: auto;
}
.div{
    margin: 50px;
}
.taskDiv{
    padding: 5px;
    background-color: rgb(128, 224, 134);
    border-radius: 5px;
    height: auto;
}
.inputDiv{
    margin: 2px;
    background-color: aquamarine;
    border-radius: 5px;
}
.showRow{
    margin-right: 0px;
}

