.bottom-right-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* Add any additional styling you want for the button */
  }
  .centered-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .rocket{
    // margin: 0px 10px;
    // color: white;
    padding: 5px;
    zoom: 1.2;
    font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  }
  .progress{
    width: 100%;
  }
  .row{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .btntogle{
    width: 80px;
    height: 30px;
  }
  .toast-body{
    color: white;
  }
  .btncolor{
    color: white;
  }
  .progressTxt{
    .progress1{
        float: right;
        margin: 0px 10px;
    }
  }
  .progress{
    --bs-progress-height: 0.4rem;
    margin: 10px -5px;
  }

  .rocketdiv{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #ofsetNew{
    overflow-y:hidden; 
    margin-top: -10px;
  }
  
  #offcanvasBottom{
    margin-bottom: -80px;
  }