<div class="display">
  <h2>{{ showValue }}</h2>
</div>
<div class="container">
  <div class="row">
    <button class="btn btn-info" (click)="onBtnClk('1')">1</button>
    <button class="btn btn-info" (click)="onBtnClk('2')">2</button>
    <button class="btn btn-info" (click)="onBtnClk('3')">3</button>
    <button class="btn btn-info" (click)="onBtnClk('4')">4</button>
    <button class="btn btn-info" (click)="onBtnClk('5')">5</button>
    <button class="btn btn-info" (click)="onBtnClk('6')">6</button>
    <button class="btn btn-info" (click)="onBtnClk('7')">7</button>
    <button class="btn btn-info" (click)="onBtnClk('8')">8</button>
    <button class="btn btn-info" (click)="onBtnClk('9')">9</button>
    <button class="btn btn-info" (click)="onBtnClk('0')">0</button>
    <button class="btn btn-info" (click)="onBtnClk('+')">+</button>
    <button class="btn btn-info" (click)="onBtnClk('-')">-</button>
    <button class="btn btn-info" (click)="onBtnClk('*')">*</button>
    <button class="btn btn-info" (click)="onBtnClk('/')">/</button>
    <button class="btn btn-info" (click)="onEqual()">=</button>
    <button class="btn btn-info" (click)="onClear()">AC</button>
  </div>
</div>
