<app-navbar></app-navbar>
<div *ngIf="!hideStartBtn" class="centered-container">
    <button class="btn btn-primary" type="button" (click)="startprogress()" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Start</button>
  </div>
  <button *ngIf="hideStartBtn && !hideToggle" class="btn btntogle btn-primary btn-sm bottom-right-button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
    <span class="material-symbols-outlined">
      expand_less
    </span>
  </button>
  <div class="container mt-2">
  </div>
  <div class="toast-container position-absolute bottom-0 end-0 p-3">
    <div #myToast class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="false">
      <div class="toast-body">
        <div class="row">
          <div class="col-2">
            <button type="button" class="btn btncolor">
              <span class="material-symbols-outlined">
                check
              </span>
            </button>
          </div>
          <div class="col-8">
            <strong class="me-auto">Success</strong> <br>
            Migration applied successfully
          </div>
          <div class="col-2">
            <button type="button" class="btn-close btncolor" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #Offcanvas *ngIf="!hideToggle" class="offcanvas offcanvas-bottom" tabindex="-1" data-bs-scroll="true"
    data-bs-backdrop="false" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div style="margin-top: -45px;" class="offcanvas-header">
      <h1></h1>
      <button type="button" data-bs-dismiss="offcanvas" class="btn btntogle btn-primary btn-sm">
        <span class="material-symbols-outlined">
          expand_more
        </span>
      </button>
    </div>
    <div id="ofsetNew" class="offcanvas-body small">
      <div class="row">
        <div class="col-1 rocketdiv">
          <span class="material-symbols-outlined rocket">
            rocket
          </span>
        </div>
        <div class="col-11">
          <div class="progressTxt">
            <span>
              Migrating data to selected environment
            </span>
            <span class="progress1">
              {{progress}}%
            </span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="progress+'%'" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>